on:
  push:
    branches:
    - main
jobs:
  hello-world-job:
    runs-on: ubuntu-latest
    steps:
    - name: print message
      run: echo "Hello World!"
    - name: completion steps
      run:  echo "completion steps..."
