on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string

jobs:
  reusable-workflow:
    runs-on: ubuntu-latest
    steps:
    - name: print
      run: echo "Deploying to ${{ inputs.environment }}"
