name: Cloning git repos

on:
  workflow_dispatch:

jobs:
  clone:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout another repository
        uses: actions/checkout@v4
        with:
          repository: devops-hunk/test
          ref: main

      - name: List files
        run: ls -la
